---
import Layout from "../layouts/Layout.astro";
import { MainLayout } from "../layouts/MainLayout";
import { Card, CardContent } from "@/components/ui/card";
import { MainBreadcrumb } from "@/components/features/Home/components/MainBreadcrumb";
import HierarchyNodeCard from "@/components/HierarchyNodeCard.astro";
import Footer from "@/components/Footer.astro";

import { DATA_DUMB } from "@/data";
---

<Layout>
  <MainLayout client:load>
    <section class="relative">
      <div class="absolute w-full lg:h-[55vh] z-0"></div>
      <div class="layout-container relative">
        <div class="min-[190px]:flex h-full">
          <div
            class={"flex-1 relative p-0 min-[550px]:px-5 top-12 flex min-[850px]:flex-row md:flex-nowrap flex-wrap flex-col justify-center md:items-start items-center min-[550px]:gap-5 mx-auto"}
          >
            <Card
              className="gap-2 w-full h-full flex-1 overflow-hidden p-0 rounded-none shadow-none border-none min-[550px]:rounded-[8px] min-[550px]:border min-h-full flex flex-col"
            >
              <CardContent className="w-full p-0 px-2 lg:px-0">
                <div class="flex flex-col mx-auto gap-12">
                  <div
                    class="flex flex-col items-start justify-center gap-1 max-w-[88%]"
                  >
                    <MainBreadcrumb />
                    <div class="flex flex-col items-start justify-center gap-6">
                      <h1
                        class="text-[#003876] font-semibold text-[32px] leading-[120%]"
                      >
                        Viajar con un menor: guía oficial para solicitar el
                        permiso
                      </h1>
                      <div
                        class="hidden lg:flex flex-col items-start justify-center gap-4"
                      >
                        <div>
                          <p
                            class="font-semibold text-[20px] leading-[120%] text-[#1E293B]"
                          >
                            Qué es
                          </p>
                          <p class="text-[#475569] text-base font-normal">
                            El permiso de salida del menor es la certificación
                            mediante la cual uno o ambos padres autorizan a un
                            menor dominicano, o extranjero con residencia legal,
                            a salir del territorio nacional.
                          </p>
                        </div>
                        <div>
                          <p
                            class="font-semibold text-[20px] leading-[120%] text-[#1E293B]"
                          >
                            A quién va dirigido
                          </p>
                          <p class="text-[#475569] text-base font-normal">
                            Está dirigido al padre, la madre, ambos padres o el
                            tutor legal del menor.
                          </p>
                        </div>
                        <div>
                          <p
                            class="font-semibold text-[20px] leading-[120%] text-[#1E293B]"
                          >
                            Cómo solicitarlo
                          </p>
                          <p class="text-[#475569] text-base font-normal">
                            Responde las preguntas de esta guía para conocer
                            cuáles son los documentos que debes presentar y los
                            pasos a seguir.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="w-full">
                    <div class="flex flex-col gap-8">
                      <div
                        class="fade-in duration-500 animate-in flex flex-col gap-1"
                      >
                        <div
                          class="flex flex-col lg:flex-row items-center justify-start"
                        >
                          <h2
                            class="font-bold text-[28px] text-[#1E293B] text-left"
                          >
                            Selecciona estatus migratorio del menor
                          </h2>
                        </div>
                        <h2 class="text-base font-normal text-[#475569]">
                          Haz click en la opción que mejor represente el estatus
                          migratorio del menor.
                        </h2>
                      </div>
                      <div class="pb-6 w-full">
                        <div
                          class="grid grid-cols-1 lg:grid-cols-3 gap-4 px-[2px]"
                        >
                          {
                            DATA_DUMB.cases.map((item: any) => (
                              <HierarchyNodeCard item={item} />
                            ))
                          }
                        </div>

                        <div class="py-12">
                          <Footer showPortalButton={true} />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </CardContent>
            </Card>
          </div>
        </div>
      </div>
    </section>
  </MainLayout>
</Layout>
