---
import Layout from "../layouts/Layout.astro";
import { MainLayout } from "../layouts/MainLayout";
import { Card, CardContent } from "@/components/ui/card";
import HierarchyNodeCard from "@/components/HierarchyNodeCard.astro";
import Wrapper from "@/components/Wrapper.astro";
import Footer from "@/components/Footer.astro";
import Banner from "@/components/Banner.astro";
import { DATA_DUMB } from "@/data";
---

<Layout>
  <MainLayout client:load>
    <section class="relative">
      <div class="layout-container relative">
        <div class="min-[190px]:flex h-full">
          <article
            class={"flex-1 relative p-0 min-[550px]:px-5 top-12 flex min-[850px]:flex-row md:flex-nowrap flex-wrap flex-col justify-center md:items-start items-center min-[550px]:gap-5 mx-auto"}
          >
            <Card
              className="gap-2 w-full h-full flex-1 overflow-hidden p-0 rounded-none shadow-none border-none min-[550px]:rounded-[8px] min-[550px]:border min-h-full flex flex-col"
            >
              <CardContent className="w-full p-0 px-2 lg:px-0">
                <Wrapper
                  title={"Selecciona estatus migratorio del menor"}
                  description={"Haz click en la opción que mejor represente el estatus migratorio del menor."}
                >
                 <Banner slot="banner" />
                  <div class="pb-6 w-full">
                    <ul
                      class="grid grid-cols-1 lg:grid-cols-3 gap-4 px-[2px] list-none"
                      aria-label="Lista de casos de uso"
                    >
                      {
                        DATA_DUMB.cases.map((item: any) => (
                          <li>
                            <HierarchyNodeCard item={item} />
                          </li>
                        ))
                      }
                    </ul>

                    <footer class="py-12">
                      <Footer showPortalButton />
                    </footer>
                  </div>
                </Wrapper>
              </CardContent>
            </Card>
          </article>
        </div>
      </div>
    </section>
  </MainLayout>
</Layout>
