<header class="flex flex-col items-start justify-center gap-6">
  <h1 class="text-[#003876] font-semibold text-[32px] leading-[120%]">
    Viajar con un menor: guía oficial para solicitar el permiso
  </h1>
  
  <div class="hidden lg:flex flex-col items-start justify-center gap-4" aria-hidden="true" id="banner-details">
    <section>
      <h2 class="font-semibold text-[20px] leading-[120%] text-[#1E293B]">
        Qué es
      </h2>
      <p class="text-[#475569] text-base font-normal">
        El permiso de salida del menor es la certificación mediante la cual uno
        o ambos padres autorizan a un menor dominicano, o extranjero con
        residencia legal, a salir del territorio nacional.
      </p>
    </section>
    
    <section>
      <h2 class="font-semibold text-[20px] leading-[120%] text-[#1E293B]">
        A quién va dirigido
      </h2>
      <p class="text-[#475569] text-base font-normal">
        Está dirigido al padre, la madre, ambos padres o el tutor legal del
        menor.
      </p>
    </section>
    
    <section>
      <h2 class="font-semibold text-[20px] leading-[120%] text-[#1E293B]">
        Cómo solicitarlo
      </h2>
      <p class="text-[#475569] text-base font-normal">
        Responde las preguntas de esta guía para conocer cuáles son los
        documentos que debes presentar y los pasos a seguir.
      </p>
    </section>
  </div>
</header>
