---
import { Button } from "@/components/ui/button";
import { MoveLeft } from "lucide-react";
import { cn } from "@/lib/utils";

interface Props {
  type?: "not_found" | "documentation";
}

const { type } = Astro.props;

const pathname = Astro.url.pathname;

const hrefBack = pathname.split("/").slice(0, -1).join("/");

console.log({ a: hrefBack });
---

<div
  class="flex flex-col lg:flex-row items-center justify-between gap-1 lg:gap-8 w-full"
>
  <div class="flex justify-start items-center gap-4 w-full">
    <Button
      variant={"outline"}
      asChild
      client:load
      client:visible
      className="rounded-full flex gap-2 items-center text-[#0072D7] border-[#0072D7] max-w-full lg:max-w-[163px] w-full hover:text-white hover:bg-[#0072D7] cursor-pointer"
      onClick={() => {
        window.scrollTo({ top: 0, behavior: "smooth" });
      }}
    >
      <a>
        <MoveLeft />
      Paso anterior
      </a>
    </Button>
    <Button
      asChild
      client:load
      client:visible
      variant={"ghost"}
      className="rounded-full flex gap-2 items-center text-[#0072D7] max-w-full lg:max-w-[163px] w-full hover:text-[#0072D7] cursor-pointer"
      onClick={() => {
        window.scrollTo({ top: 0, behavior: "smooth" });
      }}
    >
      <a href="/" rel="noopener noreferrer">Volver al inicio</a>
    </Button>
  </div>

  {
    type === "not_found" ||
      (type === "documentation" && (
        <Button
          asChild
          variant={"outline"}
          className={cn(
            "rounded-full flex gap-2 items-center max-w-full lg:max-w-[257px] w-full cursor-pointer",
            "text-[#0072D7] border-[#0072D7] hover:text-white hover:bg-[#0072D7] cursor-pointer",
            type === "documentation" &&
              "bg-[#0072D7] hover:bg-[#0072D7]/90 border-none text-white"
          )}
        >
          <a
            href="https://servicios.migracion.gob.do/es"
            rel="noopener noreferrer"
          >
            Ir al portal para iniciar la solicitud
          </a>
        </Button>
      ))
  }
</div>
