---
import { cn } from "@/lib/utils";
import { MainBreadcrumb } from "@/components/MainBreadcrumb";
import Navegation from "./Navegation.astro";
import type { ViewComponentType } from "@/data/navigation-context";

interface Props {
  bannerComp?: HTMLElement;
  title: string;
  description: string;
  type?: ViewComponentType;
}

const { bannerComp, title, description, type } = Astro.props;

const isAvailableNavigation = Astro.url.pathname !== "/";
---

<main
  id="main-content"
  class={cn(
    "flex flex-col mx-auto max-w-[992px]",
    bannerComp ? "gap-12" : "gap-4",
    type === "not_found" && "max-w-[768px]",
    type === "not_required_permission" && "max-w-[768px]"
  )}
>
  <header class="flex flex-col items-start justify-center gap-1 max-w-[88%]">
    <nav aria-label="Breadcrumb navigation">
      <MainBreadcrumb />
    </nav>
    <slot name="banner" />
  </header>

  <div class="w-full">
    {
      isAvailableNavigation && (
        <nav class="mb-9" aria-label="Page navigation">
          <Navegation type={type} />
        </nav>
      )
    }

    <section class="flex flex-col gap-8">
      <header
        class={cn(
          "fade-in duration-500 animate-in",
          "flex flex-col gap-1",
          type === "document" && "max-w-[700px]",
          type === "not_found" && "max-w-[768px]"
        )}
      >
        <h2 class="font-bold text-[28px] text-[#1E293B] text-left">
          {title}
        </h2>
        <p class="text-base font-normal text-[#475569]">
          {description}
        </p>
      </header>

      <article id="content-section">
        <slot />
      </article>
    </section>
  </div>
</main>
