---
import Info from "./Info.astro";
---

<h3 class="text-xl font-semibold text-[#020617]">
  ¿Tienes dudas o necesitas confirmar esta información?
</h3>
<div class="text-[#031942] flex flex-col gap-4">
  <p class="">
    Si no estás seguro de qué documentos necesitas o tienes alguna pregunta
    sobre el caso del menor, puedes comunicarte con la Dirección General de
    Migración:
  </p>

  <Info />

  <div class="flex flex-col">
    <p>También puedes visitar el portal oficial:</p>
    <a
      href="https://servicios.migracion.gob.do"
      rel="noopener noreferrer"
      target="_blank"
      class="underline"
    >
      https://servicios.migracion.gob.do
    </a>
  </div>
</div>
