---
import { GovernmentOfficialHeader } from "@/components/common/GovernmentOfficialHeader";
import { Header } from "@/components/common/Header";
import '@fontsource-variable/roboto/index.css';
import '@/styles/global.css';
---

<!doctype html>
<html lang='es-ES'>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro Basics</title>
	</head>
	<body class='antialiased'>
		<GovernmentOfficialHeader client:load />
		<Header client:load />
		<main role='main' class='bg-background antialiased'>
			<slot />
		</main>
	</body>
</html>
