---
import { GovernmentOfficialHeader } from "@/components/common/GovernmentOfficialHeader";
import { Header } from "@/components/common/Header";
import { SEO } from "@/data/seo"
import '@fontsource-variable/roboto';
import '@/styles/global.css';
---

<!doctype html>
<html lang='es-ES'>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<title>{SEO.title}</title>
		<meta name="description" content={SEO.description} />
		<meta name="keywords" content={SEO.keywords} />
	</head>
	<body class='antialiased'>
		<GovernmentOfficialHeader client:load />
		<Header client:load />
		<main role='main' class='bg-background antialiased'>
			<slot />
		</main>
	</body>
</html>
